#flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}

#flex-container>div {
    background-color: blanchedalmond;
    margin: 20px;
    padding: 5px;
    font-size: 20px;
}

#three {
    flex-basis: 300px;
}